<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/addproduct.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo"> <i class="fas fa-shopping-basket"></i> Bakery </a>
    
        <nav class="navbar">
            <a class="nav-link" th:href="@{/}" href="#">Home</a>
            <a class="nav-link" th:href="@{/shop}" href="#">Shop</a>
            
            
            
       
        </nav>
    
     
    
    
    </header>
    <div class="space"></div>
	
<div class="container" id="container">

	<div class="form-container sign-in-container">
		<form  th:action="@{/admin/products/add}" method="post" th:object="${productDTO}" enctype="multipart/form-data">
			<h1>Add a new Product</h1>
			<input type="hidden" name="id" th:field="*{id}">
			<input type="text" required th:field="*{name}" name="name" id="name" placeholder="Enter Name" />
			<label for="category">Select Category</label>
			<select class="form-control" th:field="*{categoryId}" id="category" name="category" placeholder="Select Category">
				<option th:each="category :${categories}"
						th:value="${category.id}"
						th:text="${category.name}"
				>
			</select>
			<label for="description">Price</label>
			<input type="number"  required th:field="*{price}" name="price" id="price"
			placeholder="Price" />
			<label for="description">Weight</label>
            <input type="number"  required th:field="*{weight}" name="weight" id="weight"
                           placeholder="Weight"/>
						   <label for="description">Product Description</label>
			<textarea class="form-control" rows="5" th:field="*{description}" name="description" id="description"></textarea>
			<p>Product Image</p>
							<input type="file"  class="custom-file-input" name="productImage" accept="image/jpeg, image/png"  id="productImage"/>
							
						    <input type="hidden" name="imgName" th:value="${productDTO.imageName}">
						    <button type="submit" >Add</button>
			
		</form>

			
		
	

	</div>
</div>



</body>
</html>